<!-- partial nav -->
	<%= render :partial => 'navigation' %>
<!-- partial nav -->

<div class="ui center aligned page grid">
    <div class="sixteen wide column" data-sr='scale up 10%'>

	    <div class="dividing header"></div>

			<h2 class="ui icon header">
			  <i class="file text outline icon"></i>
			  <div class="content">
			    Account Information
			  </div>
			</h2>

			<% if @employee.active? && @employee.admin? %>
				<p><i class="active green checkmark icon"></i>Active &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="active green checkmark icon"></i>Administrator</p>
			<% elsif @employee.active? && !@employee.admin %>
				<p><i class="active green checkmark icon"></i>Active &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="active red remove icon"></i>Administrator</p>
			<% elsif !@employee.active && @employee.admin %>
				<p><i class="active red remove icon"></i>Active &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="active green checkmark icon"></i>Administrator</p>
			<% elsif !@employee.active && !@employee.admin %> 
				<p><i class="active red remove icon"></i>Active &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="active red remove icon"></i>Administrator</p>
			<% end %>

		</div>

    </div>
</div>

<div class="ui page grid" data-sr='ease-in'>

    <div class="three wide column">
    </div>

    <div class="five wide column center aligned">

    	<h3>Name</h3>
		<p><em><%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %></p></em>


		<h3>Email</h3>
		<p><em><%= @employee.email %></em></p>

		<% if !@employee.department.empty? %>
    		<h3>Department</h3>
			<p><em><%= @employee.department %></em></p>
		<% end %>
		
    </div>

    <div class="five wide column center aligned">

		<h3>Created at</h3>
		
		<% if @employee.created_at? %>
		 	<p><em><%= @employee.created_at.strftime('%B %d, %Y @ %I: %M %p') %></em></p>
		<% else %>
			<p><em>Not Available</em></p>
		<% end %>

		<h3>Last Login</h3>

		<% if @employee.current_sign_in_at? %>
	
			<p>
				<% if @employee.sign_in_count? %>
					<span class="ui circular teal label">
				     <%= @employee.sign_in_count %>
				    </span>
			    <% end %>
			    <em><%= @employee.current_sign_in_at.strftime('%B %d, %Y @ %I: %M %p') %></em>
			</p>

		<% else %>
			<p><em>Not Available</em></p>
		<% end %>

    </div>

    <div class="three wide column">
    </div>
    
</div><!-- ui grid -->
<div class="ui hidden divider"></div>
