<div class="ui page grid">

    <div class="ui two column center aligned grid">
      <div class="column left aligned">

      <%= form_for @tracking_form, :html => { :class => "ui form attached fluid segment" } do |f| %>

        <% if @tracking_form.errors.any? %>
          <div class="ui teal message" data-sr='ease-in-out'>
            <div class="header">
                Oops! Please check the following:
            </div>
            <% @tracking_form.errors.full_messages.each do |msg| %>
            <ul class="list">
              <li><%= msg %></li>
            </ul>
            <% end %>   
          </div>
        <% end %>

        <h2 class="ui center aligned icon header">
          <i class="circular file text outline icon"></i>
          Form Information
        </h2>
        <div class="ui hidden divider"></div> <div class="ui hidden divider"></div>

          <% if @tracking_form.origination_dept == current_employee.department %>
             <div class="two fields" data-sr='ease-in-out'>
                <div class="field">
                  <label>Date Filed:</label>
                  <%= f.text_field :date_filed, :class => 'datepicker', :placeholder => "Select Date" %>
                </div>

                <div class="field" data-sr='ease-in-out'>
                  <label>Form Type</label>
                  <%= f.select :form_type, ['Travel Expense Form','Salary Form', 'Purchase Request Form', 'Disbursement Voucher Form', ' Requisition Slip Form'], :selected => f.object.form_type %>
                </div>
              </div>

              <div class="field" data-sr='ease-in-out'>
                  <label>Transaction Name</label>
                  <%= f.text_area :transaction_name, autocomplete: "off", :class => "disabled", :placeholder => "Enter Transaction Name" %>
              </div>

              <div class="two fields" data-sr='ease-in-out'>
                  <div class="field">
                    <label>Prepared By:</label>
                    <%= f.text_field :prepared_by, :placeholder => 'Enter Name', :maxlength => 40, :size => 40, autocomplete: "off" %>
                  </div>

                  <div class="field">
                    <label>Department</label>
                    <%= f.collection_select :department, Department.order(:name), :name, :name, {:prompt => @select_value, :selected => @tracking_form.department} %>
                  </div>
              </div>
          <% else %>
            <div class="two fields" data-sr='ease-in-out'>
                <div class="field">
                  <label>Date Filed:</label>
                  <p><%= @tracking_form.date_filed %></p>
                </div>

                <div class="field" data-sr='ease-in-out'>
                  <label>Form Type</label>
                  <p><%= @tracking_form.form_type%></p>
                </div>
              </div>

              <div class="two fields">
                <div class="field" data-sr='ease-in-out'>
                    <label>Transaction Name</label>
                    <p><%= @tracking_form.transaction_name %></p>
                </div>
                 
                <div class="field">
                    <label>Prepared By:</label> 
                    <p><%= @tracking_form.prepared_by %> of <%= @tracking_form.department %></p>
                </div>
              </div>
              <div class="ui hidden divider"></div>
          <% end %>     

          <div class="two fields" data-sr='ease-in-out'>
            
            <div class="field">
              <label>Amount to be claimed: <br>
                  <small>(Leave blank if not required)</small>
              </label>
              <%= f.text_field :amount_to_be_claimed, autocomplete: "off", :placeholder => "Enter amount to be claimed" %>
            </div>

            <div class="field">
                  <div class="ui hidden divider"></div>  
                  <div class="ui hidden divider"></div>   
                  <div class="ui radio checkbox">
                      <%= f.check_box :approved_by_division_chief %>
                      <label>Approved by Division Chief</label>
                  </div>
            </div>

          </div>

          <div class="field" data-sr='ease-in-out'>
              <label>State reason for pending <br> 
                <small>(Leave blank if aprroved by Division Chief)</small>
              </label>
              <%= f.text_area :pending_info, autocomplete: "off", :placeholder => "Enter Pending Information" %>
          </div>  
        
          <div class="two fields" data-sr='ease-in-out'>
            <div class="field">
              <%= f.submit "Save Changes", :class => 'ui fluid primary button' %> 
            </div>
            
            <div class="field">
              <%= link_to('Cancel', :back, :class => 'ui fluid button')  %>
            </div>
          </div>

          <% if @tracking_form.current_dept == current_employee.department && !@tracking_form.forwarded && !@tracking_form.returned %>
            <div class="field" data-sr='ease-in-out'>
              <%= link_to('<i class="send icon"></i> Forward'.html_safe, 
                   for_forwarding_tracking_form_path(@tracking_form.id), 
                   :class => 'fluid ui green button') %>
            </div>
          
              <% if @tracking_form.origination_dept != current_employee.department && @tracking_form.received %>
                <div class="ui horizontal divider">
                  Or
                </div>

                <div class="field" data-sr='ease-in-out'>
                  <%= link_to('<i class="arrow circle left icon"></i> Return'.html_safe, 
                       for_return_tracking_form_path(@tracking_form.id), 
                       :class => 'fluid ui purple button') %>
                </div>
              <% end %>

          <% end %>

      <% end %>

      </div>
    </div><!-- 16 column -->
</div><!-- grid -->


