<% if @tracking_forms.blank? %>
		<div class="ui hidden divider"></div>

		<center>

			<h2 class="ui center aligned icon header" data-sr='ease-in-out'>
			  <i class="circular search icon"></i>
			</h2>
			<%= form_tag(search_result_path, :method => "get" ,:class => 'ui form') do %>
			<div class="inline field" data-sr='ease-in-out'>
				<%= text_field_tag :search, params[:search], placeholder: "Enter Transaction Name" %>
				<%= submit_tag "Search", :name => nil, :class => 'ui primary button' %>
			</div>
			<% end %>

		</center>

		<div class="ui hidden divider"></div>
			<h2 class="ui icon header center aligned" data-sr='scale up 20%'>
				<div class="content">
					Nothing found!
					<div class="sub header">Sorry. We didn't found anything.</div>
				</div>
			</h2>

<% else %>
<div class="ui hidden divider"></div>
<center>
	
	<h2 class="ui center aligned icon header" data-sr='ease-in-out'>
		<i class="circular search icon"></i>
	</h2>
	<%= form_tag(search_result_path, :method => "get" ,:class => 'ui form') do %>
	<div class="inline field">
		<%= text_field_tag :search, params[:search], placeholder: "Enter Transaction Name" %>
		<%= submit_tag "Search", :name => nil, :class => 'ui primary button' %>
	</div>
	<% end %>

</center>

<div class="ui center aligned grid">
	<div class="one wide column"></div>
    <div class="fourteen wide column">

	    <div class="dividing header"></div>

		<table class="ui very compact blue table">
			  <thead data-sr='ease-in-out'>
			    <tr>
			  
			      <th class="four wide">Department</th>
			      <th class="eight wide">Transaction Name</th>
			      <th class="two wide center aligned">Status</th>
			      <th class="two wide center aligned">Transaction Age</th>
			      
			    </tr>
			  </thead>
		  	  <tbody>

			 <% @tracking_forms.each do |tracking_form| %>
			 <tr data-sr='ease-in-out'>

			 	<td>
			 		<%= tracking_form.current_dept %>
			 	</td>

			  	<td> 
			  		<%= link_to(tracking_form.transaction_name, view_tracking_form_path(tracking_form.uid), :class => "ui basic blue button") %>	
			 	</td>

			 	<td class="center aligned">
			 		<% if tracking_form.finished %>
			 				Finished
			 		<% elsif tracking_form.received %>
			 				Received by <%= tracking_form.receiver %> 
			 		<% elsif tracking_form.pending && tracking_form.returned %>
							Returned and Pending
					<% elsif tracking_form.pending %>
							Pending
					<% elsif tracking_form.complete_docs %>
							Complete Docs
					<% else %>
							Incomplete Docs
					<% end %>
			 	</td>

			    <td class="hv center aligned" data-content="<%= tracking_form.created_at.strftime('%B %d, %Y at %I: %M %p') %>" data-variation="wide large">
			 		<em>Created <%= time_ago_in_words(tracking_form.created_at) %> ago</em>
			 	</td>
			 	<% end %>
			 </tr>

		  	 </tbody>
		</table>
    	

    </div><!-- 14 column -->
    <div class="one wide column"></div>
</div><!-- grid -->

<div class="ui page grid">

    <div class="sixteen wide column center aligned">
    	<%= will_paginate @tracking_forms,  :previous_label => '<i class="arrow circle left icon"></i>Prev', :next_label => 'Next <i class="arrow circle right icon"></i>', :'data-sr' => 'ease-in-out' %>
    </div><!-- 16 column -->

</div><!-- grid -->	
<% end %>