<div class="ui hidden divider"></div>

<div class="ui grid">
	<div class="one wide column"></div>
    <div class="fourteen wide column">

	<% if @tracking_forms.empty? %>

			<div class="ui hidden divider"></div>
		  	<h2 class="ui icon header center aligned" data-sr='scale up 20%'>
			  <i class="info teal icon"></i>
			  <div class="content">
			    Nothing found!
			    <div class="sub header">Sorry. We didnt found any forms for your department.</div>
			  </div>
			</h2>

	<% else %>
			
		  <table class="ui very compact blue table">
			  <thead data-sr='ease-in-out'>
			    <tr>
			  
			      <th class="four wide">STATUS</th>
			      <th class="ten wide">TRANSACTION NAME</th>
			      <th class="two wide"></th>
			      
			    </tr>
			  </thead>
		  	  <tbody>

			 <% @tracking_forms.each do |tracking_form| %>
			 <tr data-sr='ease-in-out'>

			 	<td>
			 		<% if tracking_form.received %>
			 				<i class="blue bookmark icon"></i>Received by 
			 					<% if tracking_form.receiver == current_employee.first_name + " " + current_employee.middle_name + " " + current_employee.last_name %>
			 						You
			 					<% else %>
			 					   <%= tracking_form.receiver %> 
			 					<% end %>
			 		<% elsif tracking_form.pending && tracking_form.returned %>
							<i class="red warning icon"></i>Returned and Pending
					<% elsif tracking_form.pending %>
							<i class="red ban icon"></i>Pending at <%= tracking_form.current_dept %>
					<% elsif tracking_form.returned %>
							<i class="purple arrow circle left icon"></i>Returned
					<% elsif tracking_form.forwarded %>
							<i class="blue send icon"></i>Forwarded to <%= tracking_form.current_dept %>
					<% elsif tracking_form.recently_created %>
							<i class="blue flag outline icon"></i>New Transaction
					<% elsif tracking_form.complete_docs %>
							<i class="blue thumbs up icon"></i>Complete Docs
					<% else %>
							<i class="red warning icon"></i>Incomplete Docs
					<% end %>
			 	
			 	</td>

			  	<td> 
			  		<%= link_to(tracking_form.transaction_name, tracking_form_path(tracking_form.id), :class => "ui basic blue button") %>	
			 	</td>

			    <td class="right aligned">

			 		<% if tracking_form.current_dept === current_employee.department && !tracking_form.received && tracking_form.forwarded || 
			 			  tracking_form.current_dept === current_employee.department && !tracking_form.received && tracking_form.returned %>
			 			<%= link_to('Receive', receive_tracking_form_path(tracking_form.id), :method => :put, :class => 'ui mini primary button') %>
			 		<% end %>

			 	</td>

			 </tr>
			 <% end %>
		  	 </tbody>
		  </table>
    <% end %>

	</div><!-- 14 column -->
	<div class="one wide column"></div>
</div><!-- grid -->

<div class="ui page grid">

    <div class="sixteen wide column center aligned">
    	<%= will_paginate @tracking_forms,  :previous_label => '<i class="arrow circle left icon"></i>Prev', :next_label => 'Next <i class="arrow circle right icon"></i>', :'data-sr' => 'ease-in-out' %>
    </div><!-- 16 column -->

</div><!-- grid -->