<!DOCTYPE html>
<html>
<head>
  <title>System Administrator</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style> [data-sr] { visibility: hidden; } </style>
</head>
<body>


<div class="ui blue inverted menu">

	  <div class="header item">
	    <i class="spy icon"></i> SYSTEM ADMINISTRATOR
	  </div>

	  <% if !flash[:notice].blank? %>
	  		<div class="active item">
	  			<%= flash[:notice] %>
	  		</div>
	  <% end %>

	  <div class="right menu">

	  	  <%= active_link_to('<i class="search icon"></i> Search'.html_safe, search_index_path, :class => 'item', :'data-content' => 'Search Tracking Form', :'data-variation' => 'large') %>
	  		
	  	  <%= active_link_to('<i class="users icon"></i> Employee Accounts'.html_safe, employees_path, :class => 'item', :'data-content' => 'Manage Employee Accounts', :'data-variation' => 'large ') %> 

	  	  <%= active_link_to('<i class="building icon"></i> Departments'.html_safe, departments_path, :class => 'item', :'data-content' => 'Manage Departments', :'data-variation' => 'large ') %>

	  	  <%= link_to('<i class="newspaper icon"></i> Tracking Forms'.html_safe, root_path, :class => 'item', :'data-content' => 'Manage Tracking Forms', :'data-variation' => 'large ') %>

	  	  <%= link_to('<i class="lock icon"></i>'.html_safe, edit_employee_registration_path, :class => 'item', :'data-content' => 'Account Settings: For security purposes, please change your password every three months.', :'data-variation' => 'wide large') %>  

	  	  <%= link_to('<i class="sign out icon"></i>'.html_safe, destroy_employee_session_path, :method => :delete, :class => 'item', :'data-content' => 'Logout?', :'data-variation' => 'large ' ) %>  
	  
	  </div><!-- right menu -->
</div><!-- ui  menu -->

<!--before yield -->
	<%= yield %>
<!--after yield -->

</body>
</html>