<!DOCTYPE html>
<html>
<head>
  <title>Document Tracking System</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style> [data-sr] { visibility: hidden; } </style>
</head>
<body>

<% if employee_signed_in? %>
	<div class="ui inverted blue menu">
  		  
  		  <% if !current_employee.admin %>
		  	  <div class="header item">
		  	  	<i class="user icon"></i>
			    <%= current_employee.email %>
			  </div>
			    <div class="header item">
		  	  	<i class="building icon"></i>
			    <%= current_employee.department %>
			  </div>
		  <% else %>
			  <div class="header item">
			     <i class="spy icon"></i> SYSTEM ADMINISTRATOR
			  </div>
			  <div class="header item">
			    <i class="building icon"></i>
			    <%= current_employee.department %>
			  </div>
		  <% end %>

		  <% if !flash[:notice].blank? %>
	  		<div class="active item">
			  <%= flash[:notice] %>
			</div>
	 	  <% end %>
	  	
	  	  <div class="right menu">

	  	    <% if current_employee.admin %>
	  			<%= active_link_to('<i class="world icon"></i>'.html_safe, admin_index_path, :class => 'item', :'data-content' => 'Return Home', :'data-variation' => 'large') %>
	  		<% end %>

	  	    <%= active_link_to('<i class="search icon"></i>'.html_safe, search_index_path, :class => 'item', :'data-content' => 'Search Tracking Form', :'data-variation' => 'large') %>

	  	    <%= active_link_to('<i class="warning icon"></i>'.html_safe, pending_tracking_forms_path, :class => 'item', :'data-content' => 'View Pending Transactions', :'data-variation' => 'large') %>

	  	    <%= link_to('<i class="newspaper icon"></i>'.html_safe, root_path, :class => 'item', :'data-content' => 'View Tracking Forms', :'data-variation' => 'large ') %>

	  		<%= active_link_to('<i class="add circle icon"></i>'.html_safe, new_tracking_form_path, :class => 'item', :'data-content' => 'Create New Form', :'data-variation' => 'large') %>

	  		<%= active_link_to('<i class="lock icon"></i>'.html_safe, edit_employee_registration_path, :class => 'item', :'data-content' => 'Account Settings: For security purposes, please change your password every three months.', :'data-variation' => 'wide large') %>  

			<%= link_to('<i class="sign out icon"></i>'.html_safe, destroy_employee_session_path, :method => :delete, :class => 'item', :'data-content' => 'Logout?', :'data-variation' => 'large ' ) %>
		  </div><!-- right menu -->
	</div><!-- ui menu -->
<% end %>

<!-- before yield -->
<%= yield %>
<!--after yield -->

</body>
</html>
